{% extends 'base.html' %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freeman&family=Lobster&family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200&family=Comfortaa:wght@300;400;500&family=Didact+Gothic&family=Nova+Square&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    
    <title>{% block title %}Seguimiento{% endblock %}</title>
    
</head>

{% block content %}
    

    
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    

    <table>
        <tr>
            <th>Cuatrimestre</th>
            <th>Periodo</th>
        </tr>
                <tr>
            <td>6</td>
            <td>Mayo-Agosto</td>
        </tr>
        
    </table>
    



    <!-- Tabla de Carreras -->
    <table>
        <tr>
            <th>Abreviatura</th>
            <th>Nombre</th>
            <th>Nivel</th>
            
        </tr>
        {% for career in careers %}
        <tr>
            <td>{{ career.short_name }}</td>
            <td>{{ Career.name }}</td>
            <td>{{ Career.level }}</td>
        </tr>
        {% endfor %}
    </table>

    <table>
        <tr>
            <th>Tutor</th>
            <th>Grado</th>
            <th>Grupo</th>
            <th>No. Sesiones Grupales</th>
            <th>No. Sesiones Individuales</th>
        </tr>
        {% for professor in professors %}
        <tr>
            <td>{{ professor.full_name }}</td>
            <td>6</td>
            <td>A</td>
            <td>8</td>
            <td>8</td>
        </tr>
        {% endfor %}
    </table>

    <table BORDER CELLPADDING=10 CELLSPACING=0>
        <tr>
            <th colspan="9">
            </th>
            <th colspan="20">
                <center>Materias reprobadas</center>
            </th>
            <th colspan="3">Factores por los que el alumno es considerado como vulnerable</th>

        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th colspan="4">ingles</th>
            <th colspan="4">Español</th>
            <th colspan="4">Base de datos</th>
            <th colspan="4">Aplicaciones web</th>
        </tr>

        <tr>
            <th>
                No. Alumno
            </th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Grado</th>
            <th>Grupo</th>
            <th>Discapacidad, (V) Visual, (A) Auditiva,
                (I) Intelectual, (M) Motora</th>
            <th>
                No. de materias acreditas en remedial en cuatrimestre anterior
            </th>
            <th>
                Numero de materias reprobadas
            </th>

            <th>p1</th>
            <th>p2</th>
            <th>p3</th>
            <th>p4</th>
            <th>p1</th>
            <th>p2</th>
            <th>p3</th>
            <th>p4</th>
            <th>p1</th>
            <th>p2</th>
            <th>p3</th>
            <th>p4</th>
            <th>p1</th>
            <th>p2</th>
            <th>p3</th>
            <th>p4</th>
        </tr>

        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.enrollment }}</td>
            <td>{{ student.full_name }}</td>
            <td>{{ student.profile.sexo }}</td>
            <td>6</td>
            <td>A</td>
            <td>{{ student.interview.tipo_discapacidad }}</td>
            <td> <input type="text"> </td>
            <td>
               
            </td>
            <td> <input type="checkbox" name="" id=""> </td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
            <td><input type="checkbox" name="" id=""></td>
        </tr>
        {% endfor %}


    </table>


</body>
</html>
{% endblock %}